Backend/HoplaBackend/bin/
**/HoplaBackend/obj/
Backend/*/*.log


Backend/HoplaBackend/appsettings.Development.json
Backend/HoplaBackend/appsettings.Local.json
Backend/HoplaBackend/secrets.json
Backend/*/.env