Backend/*/bin/*
Backend/*/obj/*
Backend/*/*.log


Backend/HoplaBackend/appsettings.Development.json
Backend/HoplaBackend/appsettings.Local.json
Backend/HoplaBackend/secrets.json
Backend/*/.env
Web/*/.env