<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMSAPIKey</key>
	<string>AIzaSyC-2qlkvP8M1pgfnRMG0rr76SlxaI6jzwQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>GeorgiaPro-Black.ttf</string>
		<string>ArialNova.ttf</string>
		<string>ArialNova-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string></string>
		<string>location</string>
	</array>
</dict>
</plist>
